@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

nav ul li {
    list-style: none;
}
.back{
    position: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.azeret-mono-normal {
    font-family:"Azeret Mono",monospace;
    font-optical-sizing: auto;
    font-style: normal;
    position: center;
 }

    .header{
    height: 1200px;
    width: 1800px;
    background-image:url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 1800px;
        
    }
  


.btn{
    border-radius: 12px;
    background-color: rgb(30, 30, 30);
    color: aliceblue;
    padding: 20px 25px;
    font-size: 16px;

}

.banner {
    text-align: center;
    justify-content: center;

background-position: center;

    position: center;
}
.banner-con {
    align-items: center;
    text-align: center;
    line-height: 62px;
    justify-content: center;
    padding: 0px 250px;
}
.banner-name {
padding: 0px 0px;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}
.banner-pic {
    width: 1250px;
    height: 1250px;

    margin-bottom: 20px;
    /*padding:260px 220px;*/
}
.banner-description{
    font-size: 18px;
    font-weight: 400px;
    text-align: center;
}

.bold {
    color: #0D1321;
}
.section-b {
   text-align: center;
}
.section-b h1 {
    text-align: center;
    text-shadow: 3px 2px 0px 2px 3px #fff;
}
.section-b p{
    text-shadow: 3px 2px 0px 2px 3px #fff;
}
.c-top {
    position: center;
    align-items: center;
    text-align: center;
}
    .c-img{
        position: center;
        align-items: center;
    }
    




.play-video{
    padding: 6px;
    box-shadow: #f1e9e9;
    border-radius: 5px;
    margin-top: 28px;

}

.play-video iframe{
    border-radius: 5px;
    padding: 10px;
    position:center;
}
.parent-section{
    position: center;
    text-align: center;
}


 .parent-section-1{
    margin-top: 32px;
    display: inline-flex;
    align-items: center;
    
    
 }
 .sec-top{
    position:center;
    text-align: center;
 }
 .second{
    position: center;
 }
.child-1{
    background-color: rgb(121, 181, 161);
    
}
.child-2{
    background-color: rgb(202, 180, 152);

}
.child-3{
    background-color: rgb(144, 133, 124);
}

.f-child{
    background-image: url("../assets/handshake.jpg");
    colour:#fff;
    border-radius: 5px;
    background-repeat: no-repeat;
    text-align: center;
    height: 700px;
    width: 1200px;
    display: center;
    background-position: center;
    padding: 0px 1900px;
    justify-content: center;
}
.f-child h1{
    text-shadow: 3px 2px 0px 2px 2px #777;
    text-align: center;
    padding: 80px 200px;

}
.f-child p{
    text-shadow: 3px 2px 0px 2px 2px #777;
    text-align: center;

}
.f-child input{
    width:160px;
    height: 20px;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    text-align: center;
}
.f-child button{
    background-color: #fff;
    border: none;
    border-radius: 2px;
    width: 20pxpx;
    height: 20px;
    text-align: center;
}
.top{
    position: center;
}



.last-one {
    justify-items: center;
    box-shadow: none;
    position:center;
    justify-content: center;
    text-align: center;

}
.last-one h4{
    display: center;
    position: center;
    text-align: center;
}.last-one a {
    display: inline;
}